


.nav-link {
    font-size: 20px !important;
    color: #000000c4;
    font-weight: 600;
    
}
.navbar-nav .nav-item:hover{
        background: #9c99991f;
       border-radius: 8px;
        
    }
   /* ------------slider section ------- */
   .carousel-indicators [data-bs-target] {
    height: 10px;
    background-color: #20201f70;
    border: 0;
    border-radius: 5px;
   }
   .carousel-indicators .active {
    background-color: #fbb921 !important;
    width: 50px !important;
}

/* =============feature Section============= */
.feature_section{
    margin: 100px 0;
}
.feature_top a{
    color: #fbb921 !important;
    
}
.card_items .card{
    border: 0 !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}
.card_items .card h1{
    color: #6c757d;
    margin: 20px 0;
}
.laptop_cards{
    margin-top: 120px;
    margin-bottom: 30px;
}

/* =============Category Section============= */
.category_body a{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.category_top .devider{
    background: #fbb921;
    width: 150px;
    height: 6px;
    margin: auto;
    border-radius: 5px;
}
.category_top h1{
    font-size: 48px;
    line-height: 40px;
    font-weight: 600;
    padding: 10px 0;
}
/* =========foooter_section========= */
.foooter_section{
    background: #FDE09C;
}